/*Navigation*/
.navbar {
    background-color: #14213d !important;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2) !important;
}

/*Login & Signup*/

.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .auth-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
    padding: 40px 55px 45px 55px;
    transition: all .3s;
  }
  
  .auth-wrapper .form-control:focus {
    border-color: #007ea7;
    box-shadow: none;
  }
  
  .auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .btn-form {
    background-color: #007ea7 !important;
    border-color: #007ea7 !important;
  }